/* Estilos generales */
body {
  font-family: "Raleway", sans-serif;
  background-color: #9eabc672;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

hr {
  border: 0;
  border-top: 2px solid orange;
  width: 50%;
  margin: 0 auto 20px auto;
}

label {
  margin-top: 10px;
}

.button-primary {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.button-primary:hover {
  background-color: darkorange;
}

.button-mostrar-usuarios {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.button-mostrar-usuarios:hover {
  background-color: #333;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }

  .column {
    margin-top: 10%;
  }

  .six.columns {
    width: 100%;
  }

  .u-full-width {
    width: 100% !important;
  }

  .row {
    flex-direction: column;
  }

  .button-primary,
  .button-mostrar-usuarios {
    width: 100%;
    margin-top: 10px;
  }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  h3 {
    font-size: 1.75rem;
  }

  .six.columns {
    width: 48%;
  }

  .button-primary,
  .button-mostrar-usuarios {
    width: 48%;
    margin-top: 10px;
  }
}

/* Estilos para escritorios */
@media (min-width: 1025px) {
  h3 {
    font-size: 2rem;
  }

  .six.columns {
    width: 48%;
  }

  .button-primary,
  .button-mostrar-usuarios {
    width: 30%;
    margin-top: 10px;
  }
}
